name: Build
on:
  push:
    branches:
      - master
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - master

jobs:
  Build:
    runs-on: 'ubuntu-latest'
    container: 'node:${{ matrix.node-version }}'
    strategy:
      matrix:
        node-version:
          - "18"
          - "16"
          - "14"

    steps:
      - uses: actions/checkout@v5
      - run: yarn
      - run: yarn test

  Documentation:
    if: github.ref == 'refs/heads/master'
    needs: Build
    uses: byjg/byjg.github.io/.github/workflows/add-doc.yaml@master
    with:
      folder: php
      project: ${{ github.event.repository.name }}
    secrets:
      DOC_TOKEN: ${{ secrets.DOC_TOKEN }}
